
.content {
	display: flex;
	margin: 60px auto;
	padding: 0 16px;
	max-width: 960px;
	flex-direction: column;
	align-items: center;

    .otp-card {
        max-width: 320px;
        text-align: center;
        padding: 40px;

        .boldText {
            font-weight: 500;
        }
        .light-text {
            color: #666;
        }
        .extra-light-text {
            color: #888;

            .sendText {
                color: #1c9077;
                font-weight: 500;
                cursor: pointer;
            }
        }
        .upperSpace {
            margin-top: 25px;
        }
        .font12 {
            font-size: 14px;
        }

        .formContainer {
            div {
                display: inline-block !important;
                &:nth-child(1) {
                    input {
                        border-bottom-left-radius: 8px;
                        border-top-left-radius: 8px;
                    }
                }
                &:nth-child(4) {
                    input {
                        border-bottom-left-radius: 8px;
                        border-top-left-radius: 8px;
                    }
                }
                &:nth-child(3) {
                    input {
                        border-bottom-right-radius: 8px;
                        border-top-right-radius: 8px;
                    }
                }
                &:nth-child(6) {
                    input {
                        border-bottom-right-radius: 8px;
                        border-top-right-radius: 8px;
                    }
                }
            }

            .splitter {
                padding: 0 15px;
                color: #333;
                font-size: 24px;
            }
            input {
                width: 35px;
                height: 40px;
                border: 1px solid #666;
                line-height: 40px;
                text-align: center;
                font-size: 24px;
                font-family: 'Raleway', sans-serif;
                font-weight: 200;
                color: #333;
                display: inline;
                &:focus {
                    border: 1px solid #333;
                }
            }
            
            .btn {
                height: 40px;
                width: 200px;
                border-radius: 20px;
                color: #fff;
                background-color: #26c7a5;
                font-weight: 600;
                border: none;
                cursor: pointer;
            }
            

        }
    }

}
.firmName{
    text-transform: uppercase;
    margin-left: 80px;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: #333;
    font-weight: 600;
}


